@model Person

<div class="row">
    <div class="col-lg-2"><hr /><label>First name</label></div>
    <div class="col-lg-10">@Model.FirstName</div>
</div>

<div class="row">
    <div class="col-lg-2"><hr /><label>Last name</label></div>
    <div class="col-lg-10">@Model.LastName</div>
</div>

<div class="row">
    <div class="col-lg-2"><hr /><label>Phone number</label></div>
    <div class="col-lg-10">@Model.PhoneNumber</div>
</div>

<div class="row">
    <div class="col-lg-2"><hr /><label>City</label></div>
    <div class="col-lg-10">@Model.City</div>
</div>