@{
    ViewData["Title"] = "Contact info";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <p>Name: Andreas Lönnermark</p>
    </li>
    <li>
        <p>Email: andreas.lonnermark@gmail.com</p>
    </li>
</ul>
