@{
    ViewData["Title"] = "My projects";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <h2>Sokoban</h2>
        <a href="https://github.com/limeemil/JavaScript-Assignment">Sokoban in Javascript</a>
        <p>A web-based implementation of the puzzle-game Sokoban, implemented almost exclusively in Javascript.</p>
    </li>
    <li>
        <h2>Vending machine</h2>
        <a href="https://github.com/limeemil/Assignment-5-Vending-Machine">Vending machine</a>
        <p>A simple emulation of a vending machine.</p>
    </li>
    <li>
        <h2>Todoit</h2>
        <a href="https://github.com/limeemil/Assignment-4-TodoIt">Todoit</a>
        <p>A program that assigns tasks to people.</p>
    </li>
    <li>
        <h2>Test calculator</h2>
        <a href="https://github.com/limeemil/Assignment-3_TestCalculator">Test calculator</a>
        <p>A simple calculator with unit tests.</p>
    </li>
    <li>
        <h2>Hangman</h2>
        <a href="https://github.com/limeemil/Assignment-2-Hangman">Hangman</a>
        <p>A simple hangman game.</p>
    </li>
    <li>
        <h2>Calculator</h2>
        <a href="https://github.com/limeemil/Assignment-1-Calculator">Calculator</a>
        <p>A simple calculator.</p>
    </li>
</ul>
