<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div>
    <h2>@ViewBag.Title</h2>

    <div>
        <h2>People with AJAX</h2>
        <div id="statusCodes"></div>

        <input type="button" class="btn btn-primary" onclick="getAllPersons()" value="People" />

        <label for="PersonIdInput">Person ID</label>
        <input id="PersonIdInput" type="number" />

        <input type="button" class="btn btn-primary" onclick="getPersonByID()" value="Details" />
        <input type="button" class="btn btn-primary" onclick="deletePersonByID()" value="Delete" />
    </div>

    <div id="PersonList"></div>
</div>